@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Suche</h2>


@using (Html.BeginForm("UploadDocument", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

@if (Model != null)
{
    foreach (var p in Model.Predictions)
    {
        <p>
            <img src="@Url.Content(p.File)" width="600px" />
            @p.Tag
        </p>}
}